@import url("./common.less");

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.flex-d-col {
    display: flex;
    flex-direction: column;
}

.flex-y-center {
    display: flex;
    align-items: center;
}

.flex-x-center {
    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-b {
    display: block;
}

.display-ib {
    display: inline-block;
}

.mr125 {
    margin-right: 1.25rem;
}

.mb175 {
    margin-bottom: 1.75rem;
}

.mb58 {
    margin-bottom: .58rem;
}

.ml225 {
    margin-left: 2.25rem;
}

// 字体
.yahei-bold {
    font-family: Microsoft YaHei;
    font-weight: bold;
}

.yahei-400 {
    font-family: Microsoft YaHei;
    font-weight: 400;
}

.size133 {
    font-size: 1.33rem;
    color: #DCDCDC;
}

.default-size {
    font-size: 1rem;
    color: #DCDCDC;
}

.underline {
    text-decoration: underline;
    color: #0188E8;
}